

.container {
    border: 1px solid blue;
    width: 300px;
}

.purchaseLocation {
    border-top: 1px solid blue;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.locationOption {
    width:100px;
}

.locationTitle{
    text-align: center;
}

.dropdown {
    border-top: 1px solid blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.header{
    height: 40px;
}

.rideQuantity {
    border-top: 1px solid blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.calculatedFare {
    border-top: 1px solid blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}



